@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Custom modern scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background: #1F293D;
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #F59E0B;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}

/* Utilities for Independent Clean Scroll */
.scrollbar-none::-webkit-scrollbar,
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-none,
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
